*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #191919 !important;
}

.cabecera{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1100px;
}

.img_menu{
    margin-left: 50px;
}

.menu{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(black, transparent)
}

.menu_enlaces{
    margin-left: -1000px;
}

.menu_enlaces a{
    text-decoration: none;
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin: 30px;
    background-color: transparent;
    padding:  5px 20px 5px 20px;
    
}

.menu_enlaces a:hover{
    background-color: #4F4F4F;
    padding:  5px 20px 5px 20px;
    border-radius: 20px;
}

.menu_busquedaPerfil{
    margin-right:50px;
}

.menu_busquedaPerfil img {
    margin: 30px;
    
}

.menu_busquedaPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    margin-top:600px;
    margin-left: 150px;
}

.botones a{
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    background-color: #F0C53B;
    padding: 10px 20px 10px 20px;
    margin: 15px;
    border-radius: 10px;
}

.botones a:hover{
    background-color: #F2E4B6;
    color: black;
}


.scrollPeliculas a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-right: 15px;
}

.scrollRecomendaciones a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-right: 15px;
}

.scrollSeries a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-right: 15px;
}

.scrollPeliculas{
    margin-left: 50px;
}

.imagePosition{
    margin-top: 30px;
}

.footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #494949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


