*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #191919 !important;
}

.cabecera{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1100px;
}

.img_menu{
    margin-left: 50px;
}

.menu{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(black, transparent)
}


.menu_enlaces a{
    text-decoration: none;
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin: 30px;
    background-color: transparent;
    padding:  5px 20px 5px 20px;
    
}

.menu_enlaces a:hover{
    background-color: #4F4F4F;
    padding:  5px 20px 5px 20px;
    border-radius: 20px;
}

.menu_busquedaPerfil{
    margin-right:50px;
}

.menu_busquedaPerfil img {
    margin: 30px;
    
}

.menu_busquedaPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    margin-top:500px;
    /* margin-left: 150px; */
}

.botones a{
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    background-color: #F0C53B;
    padding: 10px 20px 10px 20px;
    margin: 15px;
    border-radius: 10px;
}

.botones a:hover{
    background-color: #F2E4B6;
    color: black;
}

.imagePosition{
    margin-top: 30px;
    max-height: 120px;
    border: 1px solid white;
    display: flex;
    overflow-x: auto ;
}

.imagePosition::-webkit-scrollbar{
     width: 0px ;
}

.scrollPeliculas{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    margin-right: 10px;
}

.scrollSeries{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    margin-right: 10px;
}

.scrollRecomendaciones{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    margin-right: 10px;
}

.scrollPeliculas{
    margin-left: 60px;
}

.scrollRecomendaciones{
    margin-top: 50px;
    margin-left: 60px;
}

.scrollSeries{
    margin-top: 50px;
    margin-left: 60px;
}

.scrollPeliculas a{
    text-decoration: none;
    color: white;
}

.scrollRecomendaciones a{
    text-decoration: none;
    color: white;
}

.scrollSeries a{
    text-decoration: none;
    color: white;
}


.footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #494949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}



@media(max-width: 1200px){

    .menu{
        /* flex-direction: column; */
        /* align-items: flex-start; */
        align-items: center;
    }

    .menu_enlaces a{
        margin: 5px 0;
    }

    .menu_busquedaPerfil{
        margin-top: 10px;
    }

    .footer{
        text-size-adjust: 20px;
    }
}



@media(max-width: 768px){

    .menu{
        flex-direction: column;
        align-items: center;
    }

    .menu_enlaces{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .menu_enlaces a{
        margin: 10px 0;

    }

    .botones{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    .botones a{
        width: 80%;
        text-align: center;
        
    }

}

@media(max-width: 480px){
    
    .img_menu img{
        width: 100px;
    }

    .menu_busquedaPerfil img{
        width: 30px;
        height: 30px;
    }

    .contenedorBuscador img{
        width: 20px;
        height: 20px;
    }

    .botones a{
        padding: 10px;
        margin: 5px 0;
        width: 100%; 
    }

    .scrollPeliculas{
        padding: 10px;
    }

    .scrollRecomendaciones{
        padding: 10px;
    }

    .scrollSeries{
        padding: 10px;
    }
}






/*
- Hay que poner los enlaces de, Series, Peliculas y Recomendaciones sin text decoration y con tiopgrafía igual, letra en blanco.
- En las novedades también */




