*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #191919 !important; 
}

.menu{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(240, 197, 59, 0.25), rgba(240, 197, 59, 0));
}

.img_menu{
    margin-left: 50px;
}

.menu_enlaces a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin: 30px;
    background-color: transparent;
    padding:  5px 20px 5px 20px;
    
}

.menu_enlaces a:hover{
    color: white;
    background-color: #4F4F4F;
    padding:  5px 20px 5px 20px;
    border-radius: 20px;
}

.menu_busquedaPerfil{
    margin-right:50px;
}

.menu_busquedaPerfil img {
    margin: 30px;
    
}

.menu_busquedaPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group{
    left: 80px;
}

.imagenesFavoritos{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #494949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@media(max-width: 768px) {
    .menu{
        flex-direction: column;
        align-items: center;
    }

    .menu_enlaces{
        flex-direction: column;
        align-items: center;
    }

    .menu_enlaces a{
        margin: 5px 0;
    }

    .menu_busquedaPerfil{
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 480){
    .menu img{
        max-width: 80px;
    }

    .menu_busquedaPerfil img{
        max-width: 40px;
    }

    .contenedorBuscador img{
        max-width: 15px;
    }

    .footer{
        font-size: 14px;
    }
}
