* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #191919;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img_menu {
    margin-left: 50px;
}

.menu {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(240, 197, 59, 0.25), rgba(240, 197, 59, 0));
}

.menu_enlaces a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 30px;
    background-color: transparent;
    padding: 5px 20px;
}

.menu_enlaces a:hover {
    background-color: #4F4F4F;
    padding: 5px 20px;
    border-radius: 20px;
}

.menu_busquedaPerfil {
    margin-right: 50px;
}

.menu_busquedaPerfil img {
    margin: 30px;
}

.menu_busquedaPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlePeliculas {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}

.titlePeliculas a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-right: 15px;
}

.titlePeliculas img {
    margin-bottom: -1px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.grid-item {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.grid-item:hover img {
    transform: scale(1.05);
}

.footer {
    font-size: 14px;
    color: #494949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #191919;
    text-align: center;
}

#results-container {
    padding: 20px;
    width: 300px;
    background-color: #f0c53c;
    border-radius: 8px;
    display: none;
    position: absolute;
    top: 100px;
    right: -3%;
    transform: translateX(-50%);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#results-container.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

#results-container.hide {
    opacity: 0;
    visibility: hidden;
}

#results-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.result-item img {
    width: 80%;
    height: auto;
    border-bottom: 2px solid #444;
    object-fit: cover;
}

.result-item {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    color: #f0c53c;
}

.result-item h3 {
    margin: 10px 0;
    font-size: 16px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 700px;
  }
